* {
  box-sizing: border-box;
}


.nav-btn {
  text-align: end;
  margin-top: 30px;
  font-weight: bold;

}

.nav-btn-ind:hover {
  text-decoration: underline;
}

.nav-btn-ind {
  margin-right: 45px;
  font-size: 18px;
}

.img-home {
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: black
}