* {
  box-sizing: border-box;
}


.nav-btn {
  text-align: end;
  margin-top: 30px;
  font-weight: bold;
  display: flex;

}

.nav-btn-ind:hover {
  text-decoration: underline;
  background-color: transparent;
}

.nav-btn-ind {
  margin-right: 45px;
  font-size: 18px;
  border: none;
  color: black;
  font-weight: bold;
  background-color: transparent;
}

.img-home {
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: black
}

.login-heading{
margin-left: 8%;
padding-left: 8%;
margin-top: 5%;
padding-top: 5%
}

.login-color{
  background-image: linear-gradient(yellow, red);
  color: black
}